<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a class="p-2 text-dark" href="{% url 'index' %}">EasyDeal</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="#">link</a>
      <a class="p-2 text-dark" href="#">link</a>
      <a class="p-2 text-dark" href="#">link</a>
      <a class="p-2 text-dark" href="#">link</a>
    </nav>
    {% if user.is_authenticated %}
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="btn btn-outline-primary mr-2" href="{% url 'profile' user.profile.slug %}">Profile</a>
        <a class="btn btn-outline-primary" href="{% url 'logout' %}">Log out</a>
      </nav>
    {% else %}
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="btn btn-outline-primary mr-2" href="{% url 'registration' %}">Sign up</a>
        <a class="btn btn-outline-primary" href="{% url 'login' %}">Sign in</a>
      </nav>
    {% endif %}

  </div>
  <div class="container mt-2">
    {% if messages %}
        {% for mes in messages %}
            <div class="alert alert-success">
              {{ mes }}
            </div>
        {% endfor %}
    {% endif %}

    {% block main_content %}
    {% endblock main_content %}
  </div>
</body>
</html>
